$white: #f2f6ff; //Neutral

$gray-400: #cad6f1;
$gray-500: #a6b8e2;
$gray-600: #20232b;

$blue-400: #6a6d9e;
$blue-500: #090b2b;
$blue-600: #554dde;
$blue-700: #16194f;
$blue-800: #3d3e46;

$pink-400: #f44e77;

$primary: $blue-600;
$secondary: $pink-400;
$light-theme-background: $gray-400;
$dark-theme-background: $blue-800;
