body {
  background-color: #d2d2d2;
  font-family: "Inter", sans-serif;
}

#status {
  color: #ffffff;
  font-size: 32px;
  font-weight: bold;
  position: absolute;
  background-color: transparent;
  top: 107px;
  left: 30px;
  z-index: 999;
}

.timerDisplay {
  color: #ffffff;
  font-size: 64px;
  font-weight: bold;
}

.buttonsContainer {
  align-self: center;
  .startBtn,
  .resetBtn {
    border: 0;
    background-color: linear-gradient(
      to right bottom,
      lighten(#ff8b8a, 20),
      lighten(#ff6292, 22)
    );
    color: #ff6292;
    font-weight: bold;
    padding: 10px 14px;
    border-radius: 10px;
    font-size: 18px;
  }
}

.setWorkTimeContainer,
.setBreakTimeContainer {
  display: flex;
  justify-content: center;
  margin: 10px 0;
  text-align: start;
  justify-content: flex-start;

  .btn-settings {
    border: 0;
    background: linear-gradient(lighten(#ff8b8a, 20), lighten(#ff6292, 22));
    color: #ff6292;
    font-weight: bold;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 24px;
    align-self: center;
  }

  .setWorkMin,
  .setBreakMin,
  .setMinSettings {
    color: #ffffff;
    font-weight: bold;
    align-self: center;
    margin: 0 4px;
    font-size: 18px;
  }
}

.progressBar {
  width: 100%;
  height: 50px;
  border: solid 4px #ffffff;
  border-radius: 28px;
  overflow: hidden;
  position: relative;
  float: left;

  .progressBarFill {
    background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.6),
      rgba(255, 176, 217, 0.6)
    );
    left: 0;
    position: relative;
    transition: width 1s linear;
    height: 100%;
  }
}

.setTimerContainer {
  display: block;
  text-align: center;
}

.progressBarContainer {
  text-align: center;
}

.containerFlex {
  display: flex;
  justify-content: space-between;
}
